main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    background: rgb(191, 253, 128);
    padding: 2%;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

p:nth-child(even) {
    background: rgb(255, 123, 123);
    display: inline;
}